.btn{
  font-weight: bold;
  padding: 0.5rem 1rem;
  &:focus{
    box-shadow: none !important;
    border-color: $color-main-block-shadow;
  }
  &.btn_raised{
    position: relative;
    border-radius: $main-border-radius;
    color: $color-main-block-shadow;
    box-shadow: $shadow-raised;
    transition: $main-transition;
    bottom: 0;
    &:hover{
      box-shadow: 0px 0px 0px 0px #ccc;
      bottom: -2.5px;
    }
  }
  &.btn_create{
    background-color: $color-create-button-bg;
    color: $color-white;
    font-weight: bold;
    padding: 0px 8px 1px;
    &:hover{
      background-color: darken($color-create-button-bg, 12%);
    }
  }
  &.btn_join{
    background-color: $color-join-buton-bg;
    color: $color-white;
    font-weight: bold;
    padding: 0px 8px 1px;
    &:hover{
      background-color: darken($color-join-buton-bg, 12%);
    }
  }
  &.btn_spectate{
    background-color: $color-spectate-button-bg;
    color: $color-white;
    font-weight: bold;
    padding: 0px 8px 1px;
    &:hover{
      background-color: darken($color-spectate-button-bg, 12%);
    }
  }
}

.btn_animated{
  height: 40px;
  width: 137px;
  margin: auto;
  background-size: contain;
  background-color: $color-green-button-bg;
  box-shadow: inset 0px -2.5px 2px 3px $color-main-block-border;
  border-radius: $main-border-radius;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $main-transition;
  bottom: 0;
  cursor: pointer;
  color: inherit;
  &:before {
    content: "";
    position: absolute;
    background: transparent;
    box-shadow: inset 0px 5px 3px 1px rgba(215, 215, 215, 0.5);
    display: block;
    border-radius: 12px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  &:hover {
    box-shadow: inset 0px 0px 2px 3px $color-main-block-border;
    bottom: -2.5px;
    &:before {
      box-shadow: inset 0px 5px 2px 0px rgba(215, 215, 215, 0.5);
    }
  }
  img{
    max-width: 137px;
  }
  &.btn_animated_profile {
    height: 87px;
  }
  &.btn_animated_attention {
    height: 60px;
    width: 300px;
    font-weight: bold;
    font-size: 21px;
  }
  &.btn_animated_copylink {
    height: 30px;
    width: 100px;
    margin: inherit;
  }
}