@font-face {
  font-family: 'gilroy';
  src: url('../font-gilroy/gilroy-regular-webfont.woff2') format('woff2'),
  url('../font-gilroy/gilroy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('../font-gilroy/gilroy-bold-webfont.woff2') format('woff2'),
  url('../font-gilroy/gilroy-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}