html{
  min-height: 100%;
  font-size: 14px;
}

body{
  background: transparent;
  font-family: 'gilroy', sans-serif;
  color: $color-main-block-shadow;
  background: rgb(86,204,242);
  background: url(../../dist/images/page_bg.png), radial-gradient(circle, $color-body-bg-gradient-top 0%, $color-body-bg-gradient-bottom 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    -webkit-border-radius: $main-border-radius;
    border-radius: $main-border-radius;
    background-color: $color-white;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: $main-border-radius;
    border-radius: $main-border-radius;
    background-color: $color-main-block-border;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: $color-main-block-border;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.row{
  &.custom_spacing {
    margin-right: -3px;
    margin-left: -3px;
    > div {
      padding-right: 3px;
      padding-left: 3px;
    }
  }
  &.custom_spacing-md {
    margin-right: -8px;
    margin-left: -8px;
    > div {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.form-control:focus{
  box-shadow: none;
  border-color: $color-main-block-shadow;
}