$color-main-block-shadow: #6e5f2c;
$color-main-block-border: #8c7e14;
$color-main-block-bg: #9ec115;
$color-stream-block-bg : #f8f9fa;
$color-green-button-bg: #bfb21e;
$color-create-button-bg: #fd2424;
$color-join-buton-bg: #017fff;
$color-spectate-button-bg: #28a745;
$color-body-bg-gradient-top: #56ccf2;
$color-body-bg-gradient-bottom: #2f80ed;
$shadow-raised : 0px 2.5px 0px 1.5px #ccc;
$main-border-radius : 12px;
$main-transition : all 0.15s ease;

$color-gray-0: #323232;
$color-gray-1: #666666;
$color-gray-2: #cccccc;
$color-gray-3: #f8f8f8;
$color-white: #ffffff;

// Responsive view breakpoints
$breakPoint_width_sm : 576px;
$breakPoint_width_md : 768px;
$breakPoint_width_lg : 992px;
$breakPoint_width_xl : 1200px;
$breakPoint_width_xxl : 1400px;

$breakPoint_height_xs : 360px;
$breakPoint_height_sm : 375px;
$breakPoint_height_ms : 670px;
$breakPoint_height_md : 768px;
$breakPoint_height_lg : 876px;
$breakPoint_height_xl : 1030px;