footer{
  a{
    color: $color-white;
    font-weight: bold;
    &:hover{
      color: $color-main-block-shadow;
    }
  }
}

.social_share_container{
  background-color: $color-white;
  box-shadow: $shadow-raised;
  padding: 0.5rem 0.75rem;
  border-radius: $main-border-radius;
  max-width: 200px;
  a{
    display: inline-block;
    margin: 0 1px;
    &:hover{
      opacity: 0.7;
    }
    &>img{
      width: 20px;
    }
  }
}